@import "../colors.scss";

.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  img {
    padding: 10px;
    border: 1px solid $white;
    border-radius: 0.2em;
    max-height: 90%;
    max-width: 90%;
  }

  .percentage{
    width: 65%;
  }

  &.hide{
    display: none;
  }
}
