@import "../colors.scss";

.accordion {
  .accordion_button {
    // margin-bottom: 5px;
  }
  .accordion_content {
    padding:10px;
    background-color: $dark;
    margin-bottom: 20px;
    h6 {
      color: $white;
    }
    display: none;

    &.active {
      display: block;
    }
  }

  margin-bottom: 10px;
}
